html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 8px;
}

body {
    width: 100%;
    height: 100%;
    color: #000;
    background-color: #FFF;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    letter-spacing: 0;
}
.content {
    height:100%;
    width: 100%;
    font-size: 0;

}

.row {
    margin: 0;
    padding: 0;
}
.black {
    color: #000;
}

/* NavBar & Buttons */
.menu-bar-left {
    position: relative;
    height: 100%;
    width: 60px;
    display: inline-block;
    padding: 0;
    margin: 0;
    z-index: 2;
    background-color: #FFF;
    vertical-align: top;
    font-size: 2rem
}

.main-container {
    position: relative;
    display: inline-block;
    vertical-align: top;
	height: 100%;
    width: calc(100% - 60px);
    z-index: 0;
    overflow: hidden;
    background-color: #c8c8c8;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
    font-size: 2rem
}


.buttonTitle {
    font-weight: 100;
    display: block;
    letter-spacing: 0;
    font-size: 8px;
}

.NavButtonGroup {
    width: 100%;
    height: 100%;
    margin-top: 0;
}

.home-butt{
    width: 100%;
    height: 55px;
    text-align: center;
    font-weight: 100;
    display: inline-block;
    padding: 10px;
}

.home-butt img {
    text-align: center;
    max-height: 40px;
    max-width: 40px;
    border-radius: 50%;
}

.NavButtonGroup button {
    padding: 15px 0;
    color: #000;
    cursor: pointer;
    min-height: 32px;
    width: 100%;
    background: none;
    border: none;
}

.NavButtonGroup button.on {
    background: initial;
    background-color: #d2cece;
}

.NavButtonGroup button:hover {
    box-shadow: inset 1px 0 0 #000;
}

.NavButtonGroup button i {
    width: 100%;
}

.NavButtonGroup button.disabled {
    color: gray;
    cursor: default;
}

.NavButtonGroup .btn{
    border-radius: 0;
}

.NavButtonGroup .float-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    color: #000;
    cursor: pointer;
    min-height: 32px;
    width: 100%;
    background: none;
    border: none;
    text-align: center;
}

.NavButtonGroup .float-bottom .fa {
    display: inline-block;
    height: 25px;
    width: 25px;
    line-height: 25px;
    border-radius: 50%;
    color: #FFF;
    background-color: #4a4848;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    cursor: pointer;
}

/* End NavBar & Buttons */

.side-view {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 1;
}

.side-view .navpanel {
    position: absolute;
	left: -500px;
	z-index: 1;
    height: 100%;
    width: 300px;
    background-color: rgb(255,255,255);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.side-view .navpanel.on {
    left: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.side-view-close {
    position: absolute;
    background-color: #000;
    border-radius: 0;
    float: right;
    top: 5px;
    right: 5px;
    font-size: 20px;
    line-height: 0;
    z-index: 2;
}

.side-view .title{
	position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
	padding-left: 20px;
    font-size: 18px;
    font-weight: 300;
    color: #3f3f3f;
    display: block;
}

.side-view button:hover:active {
    color: black;
    background-color: rgb(173, 173, 173);
}

.side-view button:hover {
    color: black;
    background-color: white;
}

.side-view-container {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.side-view-content {
	position:  relative;
    width: 100%;
    height: calc(100% - 55px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.side-element{
    display: block;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.side-element .link{
    position: relative;
    height: auto;
    cursor: pointer;
    font-size: 14px;
    color: #FFF;
    font-weight: 100;
    opacity: 1;
}

.side-element .link img {
    position: relative;
    width: 100%;
    height: auto;
    padding: 5px;
    border: 0;
    cursor: pointer;
}

.side-element .link:hover{
    font-weight: 300;
    color: #FFF;
}

.side-element .link .link-hover{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    background-color: rgb(200, 200, 200);
    background-color: rgba(200, 200, 200, 0.5);
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all ease .5s;
}

.side-element .link .link-on{
	position: absolute;
    width: 100%;
    padding-bottom: 56.25%;
    opacity: 0;
    z-index: 1;
    background: transparent;
    text-align: left;
}

.side-element  span{
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

.side-element .link .link-on span{
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 2px;
    color: #FFF;
    background-color: #000;
}

.side-element .link .link-on.on{
    opacity: 1;
}

.side-element .link .link-hover:hover{
    opacity: 1;
}

.side-element .link .link-hover .link-hover-content{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #FFF;
}

.side-element .link .link-hover .link-hover-content i{
    margin-top: -12px;
}

.side-element .link .link-on.on{
    opacity: 1;
}

.block-control{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    color: #000;
}

.block-control i{
    font-size: 25px;
    width: 100%;
    min-height: 32px;
}

.block-control .date-button {
    color: #000;
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 22px;
    cursor: pointer;
    background: none;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #000;
}

.block-control .date-button:hover{
    color: #FFF;
    background-color: #000;
    border: 1px solid #000;
}

.block-control .slider label {
    display: block;
    margin: 0 0 10px;
}

.block-control .slider input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
}

.block-control .date-button[disabled],
.block-control input[type="range"]:disabled {
    background-color: #fff;
    border-color: #ccc;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
    pointer-events: none;
}


/*
    Styling satellite imagery Opacity
    https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
*/
.block-control  input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}

.block-control input[type=range]:focus {
  outline: none;
}

.block-control input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: #000000;
  border-radius: 1.3px;
}

.block-control input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}

.block-control input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: #000000;
  border-radius: 1.3px;
}

.block-control input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

.block-control input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 8px 0;
  color: transparent;
}

.block-control input[type=range]::-ms-fill-lower,
.block-control input[type=range]::-ms-fill-upper {
  background: #000000;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.block-control input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

.block-control input[type=range]:focus::-ms-fill-lower,
.block-control input[type=range]:focus::-ms-fill-upper,
.block-control input[type=range]:focus::-webkit-slider-runnable-track {
  background: #000000;
}

.list-disasters {
    text-align: left;
    color: #000;
}

.list-disasters .list-element .col{
	border-top: 1px solid #bfbfbf;
}

.list-disasters .list-element .col {
    color: #000;
    cursor: pointer;
}

.list-disasters .list-element .col:hover {
	background-color: rgb(88, 84, 84);
    background-color: rgba(88, 84, 84, 0.2);
}

.disaster-descr {
    font-weight: 100;
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
}

.disaster-descr .dtype{
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    font-size: 20px;
	font-weight: 300;
}

.disaster-descr .dtitle {
    display: block;
	color: #636262;
	line-height: 18px;
	font-size: 12px;}

.disaster-descr .dplace {
    display: block;
    font-size: 8px;
}



/*Styling satellite imagery Opacity*/

/* End Side View */

.map {
	position: relative;
    height: 100%;
    width: auto;
    z-index: 1;
}

.display-none {
    display: none;
}

.img-thumb-modal {
    width:50%;
    padding-top: 5px;
    height:auto;
}

.modal-body h6 {
    font-weight: 100;
    text-align: left;
    margin: 0 0 8px;
    text-transform: none;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 1px;
    font-size: 10px;
}

.hmodal-info {
    font-weight: 700;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    margin: 0 0 5px;
    letter-spacing: 1px;
    font-size: 10px;
}

.hmodal-info p{
    font-weight: 100;
    text-align: left;
    color: #000;
    margin: 0 0 5px;
    letter-spacing: 1px;
    font-size: 16px;
}

.checkbox-slider-primary input  ~ span {
    background-color: #000;
    border-color: #000;
}

.checkbox-slider-primary input:checked  ~ span {
    background-color: #7eff97;
    border-color: #7eff97;
}

.checkbox-slider-sm {
    width: 45px;
    height: 4px;
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 0.5em;
    background-color: #000;
    border-color: #000;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}

.checkbox-slider-sm input ~ span {
    width: 20px;
    height: 20px;
    left: -5px;
    top: -10px;
}

.checkbox-slider-sm input:checked ~ span {
    left: 30px;
}

.text-align-left{
    width: auto;
    text-align: left;
    padding-bottom: 5px;
    font-size: 16px;
}

.green {
    background-color: #7eff97;
    border-color: #7eff97;
}

.linetab {
    font-size: 12px;
    color: #201f1f;
    max-width: 400px;
    word-wrap:break-word;
    text-align: justify;
}

.linetab a {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.button-add {
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
}

.button-add .fa {
    border: 1px solid rgb(82, 83, 81);
    padding: 10px;
    margin: 10px;
}

.close-cross {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: transparent;
    top: 5px;
    right: 5px;
    cursor: pointer;
    z-index: 1052;
}

.close-cross:hover {
    opacity: .3;
}

.close-cross .lr {
    height: 20px;
    width: 3px;
    margin-left: 10px;
    background-color: #000;
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1051;
}

.close-cross .lr .rl {
    height: 20px;
    width: 3px;
    background-color: #000;
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.drawsel {
    height: auto;
    margin: 10px;
    text-align: center;
}
.drawsel i {
    vertical-align: middle;
    line-height: 40px;
    font-size: 40px;
    padding: 10px;
    width: 65px;
    height: 65px;
    border: solid 1px #000;
    border-radius: 5px;
    cursor: pointer;
}

.drawsel i:hover{
    background-color: #000;
    color: #FFF;
}
.drawsel span {
    padding-top: 5px;
}
.drawsel * {
    display: block;
}

.drawsel[disabled] {
    background-color: #fff;
    border-color: #ccc;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
    pointer-events: none;
}

/* ----------- DISASTER FORM ----------- */

.leftblock {
    display: none;
    vertical-align: top;
    width: 0;
    font-size: 2rem;
    /*overflow-y: scroll;*/
}

.leftblock.in {
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: #c8c8c8;
    margin: 0;
    /*padding: 10px;*/
}

.leftblock.in ~ .map {
    width: 50%;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-size: 2rem
}

.leftblock .main-section{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    /*overflow-y: : hidden;*/
}

.leftblock .main-section .disaster-info,
.leftblock .main-section .disaster-images {
    position: absolute;
	top: 50px;
	left: 0;
	height: calc(100% - 50px);
    width: 100%;
    z-index: 1;
    opacity: 0;
    display: inline-block;
    overflow-y: scroll;
    overflow-x: hidden;
    /*transition: all linear 0.1s;*/
    background-color: #c8c8c8;
}

.leftblock .main-section input.tab-selector-1.out,
.leftblock .main-section input.tab-selector-2.out{
    display: none;
}

.leftblock .main-section input.tab-selector-1.out ~ .disaster-images,
.leftblock .main-section input.tab-selector-2.out ~ .disaster-info {
    position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

.leftblock .main-section input.tab-selector-2.out ~ .disaster-info #addEVT,
.leftblock .main-section input.tab-selector-2 ~ .disaster-info #updateEVT {
    display: none;
}

.leftblock .main-section input.tab-selector-2 ~ .disaster-info #addEVT,
.leftblock .main-section input.tab-selector-2.out ~ .disaster-info #updateEVT {
    display: block;
}

.leftblock .main-section input.tab-selector-1.out ~ .images-label,
.leftblock .main-section input.tab-selector-2.out ~ .info-label {
    display: none
}

.leftblock .main-section .disaster-info{
    padding: 10px;
}

.leftblock .close-block {
    position: absolute;
    top: 0;
    right: -40px;
    width: 40px;
    height: 50px;
    color: #FFF;
    background-color: #000;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    z-index: 10000;
    cursor: pointer;
}
.leftblock .close-block i {
    vertical-align: middle;
}

.leftblock .close-block:hover{
    color: #000;
    background-color: #FFF;
}

/* Top Tab Selector */

.leftblock .main-section .tab-selector {
    display: none;
}

.leftblock .main-section .tab-label {
	height: 50px;
    line-height: 50px;
	background: #FFF;
	text-align: center;
	font-size: 18px;
	color: #000;
    cursor: pointer;
}

.leftblock .main-section .tab-label:after {
	content: "";
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-left: 25px solid #FFF;
	position: absolute;
    right: -22px;
    top: 0;
	z-index: 1;
}

.leftblock .main-section .tab-label:before {
	content: "";
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-left: 25px solid #000;
	position: absolute;
    left: 0;
    top: 0;
}

.leftblock .main-section .tab-label:first-of-type {
	border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.leftblock .main-section .tab-label:first-of-type:before {
	display: none;
}

.leftblock .main-section .tab-label:last-of-type {
	border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.leftblock .main-section .tab-label:last-of-type:after {
	display: none;
}

.leftblock .main-section .tab-label:hover {
	background: #000;
    color: #FFF;
}

.leftblock .main-section .tab-label:hover:after {
	border-left-color: #000;
}

.leftblock .main-section input.tab-selector-1[disabled=disabled] ~ .images-label,
.leftblock .main-section input.tab-selector-2[disabled=disabled] ~ .info-label {
    background: #c8c5c5;
    color: #8c8b8b;
    cursor: not-allowed;
}

.leftblock .main-section input.tab-selector-1:checked ~ .images-label,
.leftblock .main-section input.tab-selector-2:checked ~ .info-label {
    background: #000;
    color: #FFF;
}

.leftblock .main-section input.tab-selector-1:checked ~ .images-label:after,
.leftblock .main-section input.tab-selector-2:checked ~ .info-label:after {
    border-left-color: #000;
}

.leftblock .main-section input.tab-selector-1:checked ~ .disaster-images,
.leftblock .main-section input.tab-selector-2:checked ~ .disaster-info {
    z-index: 100;
    opacity: 1;
    transition: all ease-out 0.2s 0.1s;
}
/* End - Top Tab Selector */

.disaster-info .disasterType span {
    padding: 2px;
    margin-right: 4px;
}

.disaster-info .dropdown-menu a {
    cursor: pointer;
}

.disaster-info .dropdown-menu a .right-block {
    float: none;
    display: none;
    text-align: right;
    width: 30px;
}

.disaster-info .dropdown-menu a .right-block-in {
    float:right;
}

.disaster-info textarea {
    max-width: 100%;
}

.disaster-info .date-input {
    text-align: center;
}

.disaster-info .uuid {
    display: block;
    font-size: 10px;
    padding-left: 3px;
    padding-bottom: 10px;
}

.disaster-info .checkbox span {
    display: block;
    font-size: 10px;
    padding-left: 3px;
    padding-bottom: 5px;
}

.disaster-info .comments {
    margin: 0 0 10px;
}

.disaster-info  .comments p {
    font-size: 10px;
    margin: 0 0 3px;
}

/* ----------- DISASTER TYPE ----------- */
.disasterType span{
    padding: 1px 3px;
    border-radius: 3px;
}

.fire {
    background-color: rgb(255, 40, 40);
    color: #FFF;
}

.earthquake {
    background-color: rgb(242, 169, 116);
    color: #000;
}

.tsunami {
    background-color: rgb(84, 86, 255);
    color: #000;
}

.weather {
    background-color: rgb(116, 174, 242);
    color: #000;
}

.tornado {
    background-color: rgb(26, 174, 194);
    color: #000;
}

.volcano {
    background-color: rgb(233, 0, 0);
    color: #000;
}

.floods {
    background-color: rgb(7, 39, 77);
    color: #FFF;
}

.sandstorm {
    background-color: rgb(233, 205, 16);
    color: #000;
}

.landslide {
    background-color: rgb(168, 92, 22);
    color: #FFF;
}

.manmade {
    background-color: rgb(0, 0, 0);
    color: #FFF;
}

.other,
.unclassified {
    background-color: rgb(195, 193, 180);
    color: #000;
}

/* ----------- DISASTER TYPE ----------- */
/* ----------- DISASTER FORM ----------- */

/* ----------- DISASTER IMAGES ----------- */
.spin,
.serv-error,
.nodata-error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #FFF;
    z-index: 10000;
}

.img-preview {
    position: relative;
    min-height: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    overflow-x: hidden;
    display: block;
    background-color: #000;
}

.img-preview .item {
	position: relative;
	width: 50%;
    float: left
}

.img-preview .item:before {
	content: '';
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.lazyload {
    opacity: 0;
}

.lazyloading {
    opacity: 1;
    transition: opacity 300ms;
    background: #000 url(/img/spinner.gif) no-repeat center;
}

.lazyloaded {
    background: none;
    opacity: 1;
    transition: opacity 300ms;
}

.lazy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 80%;
    height: auto;
}

.lazy2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 100%;
    height: auto;
}

.result-overlay {
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
    width: 100%;
    color: #FFF;
    background-color: rgba(0,0,0,0.3);
    font-size: 14px;
    font-weight: 400;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.result-overlay span {
    padding-bottom: 5px;
    display: block;
}

.result-overlay a,
.result-overlay div {
    padding-left: 5px;
    display: inline-block;
}

.result-overlay .btnDD{
    cursor: pointer;
    padding: 5px;
}
/* ----------- DISASTER IMAGES ----------- */

/* ----------- Download Modals ----------- */
#modalDownloadL8 .modal-body,
#modalDownloadS2 .modal-body {
    padding: 15px;
}

.img-ovr .dropdown{
    z-index: 10000;
}

.img-ovr .btn,
.img-ovr .dropdown .dropdown-menu {
    font-size: 12px;
}

.img-ovr .dropdown .dropdown-menu li {
    cursor: pointer;
}

.img-ovr .dropdown .dropdown-menu .on {
    pointer-events: none;
    cursor: default;
    color: rgb(217, 26, 26);
}

.dwn-bands a {
    display: block;
    white-space: nowrap;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.dwn-bands a:hover{
    color: #FFF;
    background-color: #000;
}

.dwn-bands,
.img-ovr {
    padding: 5px;
}

.img-ovr .overview:before{
	content: '';
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.img-ovr .overview img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
}

.img-ovr .overview span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: #000;
    font-size: 14px;
    text-align: center;
}
/* ----------- Download Modals ----------- */

/* ----------- Responsive ----------- */
@media(max-width: 767px) {
    .home-butt {
        height: 30px;
        padding: 5px;
    }
    .home-butt img {
        height: 20px;
        width: 20px;
        line-height: 20px;
    }

    .menu-bar-left {
        width: 30px;
    }

    .main-container {
        width: calc(100% - 30px);
    }

    .NavButtonGroup button i {
        font-size: 13px;
    }

    .NavButtonGroup button span {
        display: none;
    }

    .NavButtonGroup .float-bottom .fa {
        height: 20px;
        width: 20px;
        line-height: 20px;
        font-size: 12px;
    }

    .side-view .navpanel {
        left: -350px;
       width: 250px;
    }

    .side-view .title {
       font-size: 15px;
    }

    .side-view .side-view-close {
        font-size: 10px;
    }

    .block-control .date-button {
        font-size: 15px;
    }

    .text-align-left {
       font-size: 12px;
    }

    .leftblock.in {
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: #d2cece;
        margin: 0;
    }

    .leftblock.in ~ .map {
        width: 50%;
        display: none;
        margin: 0;
        padding: 0;
        vertical-align: top;
        font-size: 2rem
    }

    .leftblock .close-block {
        right: 0;
        width: 30px;
        height: 50px;
        font-size: 10px;
    }

    .leftblock .main-section .tab-label {
    	font-size: 12px;
    }
}
