html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    color: #000;
    background-color: #FFF;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    letter-spacing: 0;
    font-size: 8px;
}
.content {
    height:100%;
    width: 100%;
}

.row {
    margin: 0;
    padding: 0;
}

/* NavBar & Buttons */
.menu-bar-left {
    position: relative;
    height: 100%;
    width: 60px;
    float: left;
    padding: 0;
    margin: 0;
    z-index: 2;
    background-color: #FFF;
}

.main-container {
    display: inline-block;
    position: relative;
	height: 100%;
    width: calc(100% - 60px);
    z-index: 0;
    overflow: hidden;
    background-color: #dde3f2;
}


.buttonTitle {
    font-weight: 100;
    display: block;
    letter-spacing: 0;
    font-size: 10px;
}

.NavButtonGroup {
    width: 100%;
    height: 100%;
    margin-top: 0;
    /*border-top: 1px solid #c7c7c7;*/
}

.home-butt{
    width: 100%;
    height: 55px;
    text-align: center;
    font-weight: 100;
    display: inline-block;
    padding: 10px;
}

.home-butt img{
    text-align: center;
    vertical-align: middle;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
}

.NavButtonGroup button {
    padding: 15px 0;
    color: #000;
    cursor: pointer;
    min-height: 32px;
    width: 100%;
    background: none;
    border: none;
}

.NavButtonGroup button.on {
    background: initial;
    background-color: #d2cece;
}

.NavButtonGroup button:hover {
    box-shadow: inset 1px 0 0 #000;
}

.NavButtonGroup button i {
    width: 100%;
}

.NavButtonGroup button.disabled {
    color: gray;
    cursor: default;
}

.NavButtonGroup .btn{
    border-radius: 0;
}

.NavButtonGroup .float-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    color: #000;
    cursor: pointer;
    min-height: 32px;
    width: 100%;
    background: none;
    border: none;
    text-align: center;
}

.NavButtonGroup .float-bottom .fa {
    display: inline-block;
    height: 25px;
    width: 25px;
    line-height: 25px;
    border-radius: 50%;
    color: #FFF;
    background-color: #4a4848;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    cursor: pointer;
}

/* End NavBar & Buttons */

.side-view {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 1;
}

.side-view .navpanel {
    position: absolute;
	left: -500px;
	z-index: 1;
    height: 100%;
    width: 300px;
    background-color: rgb(255,255,255);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.side-view .navpanel.on {
    left: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.side-view-close {
    position: absolute;
    background-color: #000;
    border-radius: 0;
    float: right;
    top: 5px;
    right: 5px;
    font-size: 20px;
    line-height: 0;
    z-index: 2;
}

.side-view .title{
	position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
	padding-left: 20px;
    font-size: 18px;
    font-weight: 300;
    color: #3f3f3f;
    display: block;
}

.side-view button:hover{
    color: black;
    background-color: white;
}

.side-view-container {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.side-view-content {
	position:  relative;
    width: 100%;
    height: calc(100% - 55px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.side-element {
	display: block;
	width: 100%;
	background-color: transparent;
    text-align: center;
    padding-bottom: 25px;
}

.side-element .link{
	height: auto;
    width: 100%;
    cursor: pointer;
    font-size: 12px;
    color: #777;
    font-weight: 100;
}

.side-element .link:hover {
    font-weight: 300;
    color: #1a1a1a;
}

.side-element .mini-map{
    width: 100%;
    padding-bottom: 56.25%;
    border: 0px solid #FFF;
}

.block-control{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    color: #000;
}

.block-control i{
    font-size: 25px;
    width: 100%;
    min-height: 32px;
}

.block-control .date-button {
    color: #000;
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 22px;
    cursor: pointer;
    background: none;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #000;
}

.block-control .date-button:hover{
    color: #FFF;
    background-color: #000;
    border: 1px solid #000;
}
/* End Side View */

.map {
	position: relative;
    height: 100%;
    width: auto;
    z-index: 1;
}

.display-none {
    display: none;
}

.img-thumb-modal {
    width:50%;
    padding-top: 5px;
    height:auto;
}

.modal-body h6 {
    font-weight: 100;
    text-align: left;
    margin: 0 0 8px;
    text-transform: none;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 1px;
    font-size: 10px;
}

.hmodal-info {
    font-weight: 700;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    margin: 0 0 5px;
    letter-spacing: 1px;
    font-size: 10px;
}

.hmodal-info p{
    font-weight: 100;
    text-align: left;
    color: #000;
    margin: 0 0 5px;
    letter-spacing: 1px;
    font-size: 16px;
}

ol.dec {
    font-weight: 700;
    color: #000;
    font-size: 16px;
    list-style-type: decimal;
}

ol li{
    font-weight: 700;
    color: #000;
    font-size: 16px;
}

ol li i{
    border: 1px solid #000;
    padding: 2px 2px 2px 2px;
    border-radius: 3px;
}

.leaflet-control-attribution  a{
    color: #000;
}

.checkbox-slider-primary input  ~ span {
    background-color: #000;
    border-color: #000;
}

.checkbox-slider-primary input:checked  ~ span {
    background-color: #7eff97;
    border-color: #7eff97;
}

.checkbox-slider-sm {
    width: 45px;
    height: 4px;
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 0.5em;
    background-color: #000;
    border-color: #000;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}

.checkbox-slider-sm input ~ span {
    width: 20px;
    height: 20px;
    left: -5px;
    top: -10px;
}

.checkbox-slider-sm input:checked ~ span {
    left: 30px;
}

.text-align-left{
    width: auto;
    text-align: left;
    padding-bottom: 5px;
    font-size: 16px;
}

.green {
    background-color: #7eff97;
    border-color: #7eff97;
}

.nom-eq{
    font-size: 15px;
    font-weight: 700;
}

.linetab{
    font-size: 12px;
    color: #2b2b2b;
    font-weight: 100;
}

.handle_spin{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgb(149, 149, 149);
}

.handle_spin.opa {
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all ease 1s;
    opacity: 0;
    visibility:hidden;
}

.spin {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.spin .orbit {
    margin: 0 auto;
    -webkit-animation:spin 3.5s linear infinite;
    -moz-animation:spin 3.5s linear infinite;
    animation:spin 3.5s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@media(max-width: 767px) {
    .home-butt {
        height: 30px;
        padding: 5px;
    }

    .home-butt img {
        height: 20px;
        width: 20px;
        line-height: 20px;
    }

    .menu-bar-left {
        width: 30px;
    }

    .main-container {
        width: calc(100% - 30px);
    }

    .NavButtonGroup button i {
        font-size: 13px;
    }

    .NavButtonGroup button span {
        display: none;
    }

    .NavButtonGroup .float-bottom .fa {
        height: 20px;
        width: 20px;
        line-height: 20px;
        font-size: 12px;
    }

    .side-view .navpanel {
        left: -350px;
       width: 250px;
    }

    .side-view .title {
       font-size: 15px;
    }

    .side-view .side-view-close {
        font-size: 10px;
    }

    .block-control .date-button {
        font-size: 15px;
    }

    .text-align-left {
       font-size: 12px;
    }
}
